.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
