.client-avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 0.4rem solid var(--color-primary-variant);
  margin: 0 auto;
}

.testimonial {
  padding: 2rem;
  background-color: var(--color-bg-variant);
  border-radius: 1.25rem;
  text-align: center;
  user-select: none;
}

.client-review {
  color: var(--color-light);
  display: block;
  width: 80%;
  margin: 1rem auto 1rem;
}

.client-name {
  margin-top: 0.5rem;
}
